{% from "../macros/icon.html" import icon %}

<ul class="widget-list">
	<li class="widget-list__item">
		<label class="widget-list__label">
			xplace.com
			<a class="widget-list__link" href="#" title="">
				{{ icon('gear-full', 'widget-list__icon') }}
				<div class="widget-list__link-text">Manage</div>
			</a>
		</label>
	</li>
	<li class="widget-list__item">
		<label class="widget-list__label">
			userway.org
			<a class="widget-list__link" href="#" title="">
				{{ icon('gear-full', 'widget-list__icon') }}
				<div class="widget-list__link-text">Manage</div>
			</a>
		</label>
	</li>
	<li class="widget-list__item">
		<label class="widget-list__label">
			userway.co
			<a class="widget-list__link" href="#" title="">
				{{ icon('gear-full', 'widget-list__icon') }}
				<div class="widget-list__link-text">Manage</div>
			</a>
		</label>
	</li>
	<li class="widget-list__item">
		<label class="widget-list__label">
			platin.me
			<a class="widget-list__link" href="#" title="">
				{{ icon('gear-full', 'widget-list__icon') }}
				<div class="widget-list__link-text">Manage</div>
			</a>
		</label>
	</li>
</ul>